<h1>{{title}}</h1>
<p>Upanath is my father and he is a retired from Sri Lankan Navy serving as a commodore. He fought the war for 10 years leading the Sri Lankan Navy southern division. He loves training everyday and swimming.</p>