<h1>{{title}}</h1>
<p>My name is Upashan Perera, and im currently learning computer programming and analytics at Georgian College. Im currently fully occupied on my JS final project for the Georgian college Athletics center. I love driving and listening to songs.</p>